.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 64px;
  background-color: #FFF5E1;
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #547A80;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #547A80;
}

.navbar-logo .icon {
  margin-left: 16px;
  height: 64px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-icon {
  width: 25px;
  height: 3px;
  background-color: #547A80;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}

.menu-icon::before,
.menu-icon::after {
  content: '';
  width: 25px;
  height: 3px;
  background-color: #547A80;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  top: 8px;
}

.menu-icon.open {
  background-color: transparent;
}

.menu-icon.open::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-icon.open::after {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-links {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.navbar-links a,
.navbar-links .logout {
  margin-left: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-decoration: none;
  color: #547A80;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-links a::after,
.navbar-links .logout::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #547A80;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar-links a:hover::after,
.navbar-links .logout:hover::after,
.navbar-links .active-link::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 15px 30px;
  }

  .menu-toggle {
    display: block;
    order: 2;
  }

  .navbar-brand {
    order: 1;
  }

  .navbar-links {
    display: none;
    width: 100%;
    order: 3;
    background-color: #FFF5E1;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-top: 2px solid #547A80;  /* Línea divisoria añadida aquí */
    margin: 15px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a,
  .navbar-links .logout {
    margin: 0;
    padding: 10px 15px;
    text-align: center;
  }

  .navbar-links a::after,
  .navbar-links .logout::after {
    bottom: 0;
  }

  .navbar-links a:hover,
  .navbar-links .logout:hover,
  .navbar-links .active-link {
    background-color: #547A80;
    color: #FFF5E1;
  }

  .navbar-links a:hover::after,
  .navbar-links .logout:hover::after,
  .navbar-links .active-link::after {
    background-color: #FFF5E1;
  }
}
