.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 64px;
  background-color: #FFF5E1; /* color de fondo similar a la imagen */
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #395B64;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #395B64;
}

.navbar-logo .icon {
  margin-left: 5px;
  width: 32px; /* Ajusta el ancho del icono */
  height: 32px; /* Ajusta la altura del icono */
}

.navbar-links a {
  margin-left: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-decoration: none;
  color: #395B64;
  position: relative;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Grosor de la línea subrayada */
  background-color: #395B64;
  bottom: -2px; /* Ajuste vertical de la línea */
  left: 0;
  transition: width 0.3s ease-in-out; /* Animación suave */
}

.navbar-links a:hover::after,
.navbar-links .active-link::after {
  width: 100%;
}
