<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo"><img src="../../../assets/EasyMenuIso.png" alt="icon" class="icon"></a>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="menu-icon" [class.open]="menuActive"></span>
  </div>
  <div class="navbar-links" [class.open]="menuActive">
    <a *ngIf="isAdmin" routerLink="/admin/users" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
    <a routerLink="/recipes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Recetas</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Login</a>
    <a *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Perfil</a>
    <a *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Registro</a>
    <a *ngIf="isLoggedIn" (click)="logout()" class="logout">Salir</a>
  </div>
</nav>
