<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-logo">Easy<img src="../../../assets/IconoEM.svg" alt="icon" class="icon">Menu</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/recipes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Recetas</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Login</a>
    <a *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Perfil</a>
    <a *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Registro</a>
    <a *ngIf="isLoggedIn" (click)="logout()" class="logout">Salir</a>
  </div>
</nav>
