<div *ngIf="recipe" class="recipe-container">
  <div class="recipe-header">
    <div class="title-description">
      <h2>{{ recipe.title }}</h2>
      <p>{{ recipe.description }}</p>
    </div>
    <div class="likes-section">
      <h3>{{ likesCount }}</h3>
      <button *ngIf="!userHasLiked" (click)="likeRecipe()">Me Gusta</button>
      <button *ngIf="userHasLiked" (click)="unlikeRecipe()">No Me Gusta</button>
    </div>
  </div>

  <div class="recipe-body">
    <div class="recipe-image-container">
      <img *ngIf="recipe.image" [src]="'http://localhost:3000' + recipe.image" alt="{{ recipe.title }}" class="recipe-image">
    </div>
    <div class="ingredients">
      <h3>Ingredientes:</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
    </div>
  </div>

  <div class="recipe-steps">
    <h3>Pasos:</h3>
    <ol>
      <li *ngFor="let step of recipe.steps">{{ step }}</li>
    </ol>
  </div>

  <div *ngIf="recipe.comments">
    <h4>Comentarios:</h4>
    <ul>
      <li *ngFor="let comment of recipe.comments">
        <p>{{ comment.content }}</p>
        <small>Por: <a [routerLink]="['/user-profile-view', comment.author._id]">{{ comment.author.username }}</a> - {{ comment.createdAt | date }}</small>
        <button *ngIf="comment.author._id === userId" (click)="onEditComment(comment._id, comment.content)">Editar</button>
        <button *ngIf="comment.author._id === userId" (click)="onDeleteComment(comment._id)">Eliminar</button>
      </li>
    </ul>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
    <label for="content">Agregar Comentario</label>
    <input id="content" formControlName="content" type="text" />
    <button type="submit">Comentar</button>
  </form>

  <form [formGroup]="editCommentForm" *ngIf="editingCommentId">
    <label for="editContent">Editar Comentario</label>
    <input id="editContent" formControlName="content" type="text" />
    <button type="button" (click)="onSubmitEditComment()">Guardar Cambios</button>
    <button type="button" (click)="onCancelEdit()">Cancelar</button>
  </form>
</div>
