*{
  font-family: 'Roboto', sans-serif;;
}
.recipe-container {
  padding: 20px;
  background-color: #FFF5E7; /* Fondo claro */
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #547A80;
  color: #FFF5E7;
  padding: 20px 48px;
  padding-bottom: 32px;
}

.title-description {
  flex: 1;
}

.title-description h2 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  font-weight: normal;
}

.title-description p {
  margin: 5px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.likes-section {
  display: flex;
  align-items: center;
}

.like-icon {
  font-size: 2.5em;  /* Aumentado el tamaño */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #FFF5E7;
  margin-right: 10px;  /* Espacio entre el icono y el número */
}

.like-icon.liked {
  color: #FF6B6B;
}

.like-icon:hover {
  transform: scale(1.1);
}

.likes-count {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;  /* Aumentado ligeramente para equilibrar con el icono más grande */
  color: #FFF5E7;
}
.footer {
  text-align: center;
  padding: 10px 0;
  background: #54797F;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #FFF5E7;
}

@media (max-width: 768px) {
  .recipe-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .likes-section {
    margin-top: 0;
  }

  .like-icon {
    font-size: 2em;  /* Ligeramente más pequeño en móviles para ahorrar espacio */
  }

  .likes-count {
    font-size: 1.2em;  /* Ajustado para móviles */
  }
}
.recipe-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 48px;
  background-color: #FFF5E7;
  border-radius: 0 0 10px 10px;
}

.recipe-image-container {
  flex: 1;
  margin-right: 20px;
}

.recipe-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.ingredients {
  flex: 1;
}

.ingredients h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 20px; /* Aumenta la separación entre el título y la lista */
  color: #547A80;
}

.ingredients ul {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  list-style: disc;
}

.ingredients ul li {
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
}

.recipe-steps {
  padding: 20px 48px;
  background-color: #FFF5E7;
  border-radius: 0 0 10px 10px;
}

.recipe-steps h3 {
  color: #547A80;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 20px; /* Aumenta la separación entre el título y la lista */
}

.recipe-steps ol {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  list-style-type: decimal;
}

.recipe-steps ol li {
  margin-bottom: 15px; /* Aumenta el espacio entre los pasos */
  padding-left: 10px; /* Añade un poco de padding a la izquierda para alinear mejor con los números */
}

/* Opcional: si quieres que el último paso no tenga margen inferior */
.recipe-steps ol li:last-child {
  margin-bottom: 0;
}

h4 {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #547A80;
  color: #FFF5E7;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3a5559;
}

/* Estilos para la sección de comentarios */
.comments-section {
  margin-top: 30px;
  padding: 0 20px; /* Agrega margen a los extremos */
}

.comments-title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #547A80;
  margin-bottom: 20px;
  font-weight: weight;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-form input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #547A80; /* Línea más ancha */
  padding: 10px 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
}
.comment-form1 input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #547A80; /* Línea más ancha */
  padding: 10px 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible de la pg */
}


.comment-form input[type="text"]::placeholder {
  color: #a8a8a8;
}

/* Elimina el borde cuando el input está enfocado */
.comment-form input[type="text"]:focus {
  outline: none;
  border-bottom-color: #3a5559; /* Cambia el color de la línea al enfocar */
}

.comment-form button {
  align-self: flex-end;
  background-color: #547A80;
  color: #FFF5E7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #3a5559;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: #f9f1e3;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-content {
  flex-grow: 1;
}

.comment-content p {
  margin: 0 0 10px 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;;
}

.comment-meta {
  font-size: 0.8em;
  color: #666;
}

.comment-meta a {
  color: #547A80;
  text-decoration: none;
}

.comment-meta a:hover {
  text-decoration: underline;
}

.comment-actions {
  display: flex;
  gap: 10px;
}

.comment-actions1 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.comment-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
}

.comment-actions1 button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
  justify-content: flex-end;
}

.edit-btn {
  background-color: #547A80;
  color: white;
}

.edit-btn:hover {
  background-color: #3a5559;
}

.edit-btn1 {
  background-color: #547A80;
  color: white;
}

.edit-btn1:hover {
  background-color: #3a5559;
}


.delete-btn {
  background-color: #805854;
  color: white;
}

.delete-btn:hover {
  background-color: #5a3e3b;
}

.delete-btn1 {
  background-color: #805854;
  color: white;
}

.delete-btn1:hover {
  background-color: #5a3e3b;
}


@media (max-width: 768px) {
  .recipe-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .likes-section {
    margin-top: 15px;
  }

  .recipe-body {
    flex-direction: column;
    padding: 20px;
  }

  .recipe-image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .recipe-image {
    max-width: 100%;
  }

  .ingredients {
    width: 100%;
  }

  .recipe-steps {
    padding: 20px;
  }

  .comment-form {
    flex-direction: column;
  }
  .comment-form1 {
    flex-direction: column;
  }

  .comment-form button {
    align-self: flex-start;
    margin-top: 10px;
  }
  .comment-form1 button {
    align-self: flex-start;
    margin-top: 10px;
  }

  .comment {
    flex-direction: column;
  }

  .comment-actions {
    margin-top: 10px;
  }
  .comment-actions1 {
    margin-top: 10px;
  }
}

/* Para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .recipe-header {
    padding: 15px;
  }

  .title-description h2 {
    font-size: 2em;
  }

  .recipe-body,
  .recipe-steps,
  .comments-section {
    padding: 15px;
  }

  .ingredients h3,
  .recipe-steps h3,
  .comments-title {
    font-size: 1.5em;
  }
  .ingredients h3,
  .recipe-steps h3,
  .comments-title1 {
    font-size: 1.5em;
  }
}
