<div *ngIf="recipe">
  <h2>{{ recipe.title }}</h2>
  <p>{{ recipe.description }}</p>
  <p><strong>Ingredientes:</strong></p>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
  </ul>
  <p><strong>Pasos:</strong></p>
  <p>{{ recipe.steps }}</p>
  <img *ngIf="recipe.image" [src]="'http://localhost:3000' + recipe.image" alt="{{ recipe.title }}" class="recipe-image">

  <h3>Likes: {{ likesCount }}</h3> <!-- Mostrar el número de likes -->

  <!-- <ul>
    <li *ngFor="let like of likes">
      <p>{{ like.user?.username }} dio like</p>
    </li>
  </ul> -->

  <button *ngIf="!userHasLiked" (click)="likeRecipe()">Like</button>
  <button *ngIf="userHasLiked" (click)="unlikeRecipe()">Unlike</button>

  <div *ngIf="recipe.comments">
    <h4>Comentarios:</h4>
    <ul>
      <li *ngFor="let comment of recipe.comments">
        <p>{{ comment.content }}</p>
        <small>Por: <a [routerLink]="['/user-profile-view', recipe.author._id]">{{ recipe.author.username }}</a> - {{ comment.createdAt | date }}</small>
        <button *ngIf="comment.author._id === userId" (click)="onEditComment(comment._id, comment.content)">Editar</button>
        <button *ngIf="comment.author._id === userId" (click)="onDeleteComment(comment._id)">Eliminar</button>
      </li>
    </ul>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
    <label for="content">Agregar Comentario</label>
    <input id="content" formControlName="content" type="text" />
    <button type="submit">Comentar</button>
  </form>
</div>
