<nav class="navbar">
  <div class="navbar-brand">
    <a href="#" class="navbar-logo">Easy<img src="../../../assets/IconoEM.svg" alt="icon" class="icon">Menu</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/recipes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Recetas</a>
    <a routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Login</a>
    <a routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Registro</a>
  </div>
</nav>
