
/* Estilos para el contenedor principal */
.container {
  max-width: 300%;
  max-height: auto;
  text-align: center;
  background-color: #FFF5E7;
  margin: 0;
  padding: 0%;
}

.image-container {
  position: relative;
  overflow: hidden;
  max-height: 500%;
}

.image-container img {
  width: 100vw;
  height: 150px;
  max-height: 500%; /* Ajusta este valor según sea necesario */
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: 'Pacifico', cursive;
}

/* Estilos para el título */
h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #395B64;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  padding-left: 50px;
}
.h2{
  text-align: left;
}
/* Estilos para la barra de búsqueda */
.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.search-input {
  width: calc(100% - 50px); /* Ajustar el ancho para dejar espacio al botón */
  padding: 10px 20px;
  font-size: 1.1em;
  border: 2px solid #395B64;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  outline: none;
  background-color: #FFF5E7;
  outline: none;
}

.search-button {
  background-color: #395B64;
  color: #ffe1ef;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 0 20px 20px 0;
}

.search-button:hover {
  background-color: #507f9d;
}

.search-icon {
  font-size: 1.9em;
  color: #FFF5E1;
  font-variant: normal;
}

/* Estilos para la lista de recetas */
ul {
  text-align: left;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto;
  max-width: 1300px;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

/* Estilos para cada receta */
.recipe-card {
  width: 100%;
  max-width: 300px; /* Ajusta el tamaño de las tarjetas */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  background: none; /* Sin fondo blanco */
  margin-bottom: 20px;
}

.recipe-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente solo hacia abajo */
}

/* Estilos para la imagen de la receta */
.recipe-image {
  width: 100%;
  height: 150px; /* Ajusta la altura de la imagen */
  object-fit: cover;
}

/* Estilo para la línea de separación */
.separator {
  border: 2px solid #395B64;
  width: 100%;
  margin: 10px 0;
}

/* Estilos para el título de la receta */
.recipe-title {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: #395B64;
  margin: 10px 0;
  text-align: left;
  font-weight: normal;
  padding: 0 10px;
}

/* Estilos para los likes */
.likes-and-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.likes {
  font-size: 1.1em;
  color: #7B8C8F;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.likes .fa-heart {
  color: #FF0000;
  margin-right: 5px;
}

.likes-count {
  margin-right: 5px;
}

.likes-icon {
  display: none;
}

/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between; /* Alinea los botones horizontalmente */
  padding: 10px;
  gap: 10px;
}

.details-btn,
.action-btn {
  padding: 5px 10px;
  border: 2px solid;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.details-btn {
  background-color: #395B64;
  color: #FFF5E7;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-btn:hover {
  background-color: #507f9d;
}

.details-icon {
  display: none;
}

.action-btn {
  background-color: #395B64;
  color: #FFF5E1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  padding: 5px;
}

.action-btn:hover {
  background-color: #507f9d;
}

/* Estilos generales para el formulario */
.container-receta {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Esto asegura que estén alineados a la misma altura */
  padding: 10px; /* Ajusta el padding según sea necesario */
  font-weight: normal;
}
.container-receta1 {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Esto asegura que estén alineados a la misma altura */
  padding: 10px; /* Ajusta el padding según sea necesario */
  font-weight: normal;
}

.container-receta h2 {
  margin: 0; /* Asegúrate de que no haya márgenes adicionales */
}

.container-receta button {
  margin-left: auto; /* Esto empuja el botón hacia el extremo derecho */
}
/* frmulario de receta */

.recipe-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF5E7;
  text-align: center;
  flex-direction: column;
  border: none;
  padding: 20px 40px; /* Aumentar el padding horizontal */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%; /* Aumentar el ancho */
  max-width: 900px; /* Aumentar el ancho máximo */
  height: auto; /* Ajustar la altura automáticamente */
  max-height: 80%; /* Reducir el largo máximo */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}
.recipe-form1 {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #FFF5E7;
  flex-direction: column;
  border: none;
  padding: 20px 40px; /* Aumentar el padding horizontal */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%; /* Aumentar el ancho */
  max-width: 750px; /* Aumentar el ancho máximo */
  height: auto; /* Ajustar la altura automáticamente */
  max-height: 80%; /* Reducir el largo máximo */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

.recipe-form3 {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #FFF5E7;
  flex-direction: column;
  border: none;
  padding: 20px 40px; /* Aumentar el padding horizontal */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%; /* Aumentar el ancho */
  max-width: 500px; /* Aumentar el ancho máximo */
  height: auto; /* Ajustar la altura automáticamente */
  max-height: 80%; /* Reducir el largo máximo */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

input{
  justify-content: center;
  background-color: #FFF5E7;
}
.recipe-form h3 {
  text-align: center;
  font-family: Pacifico;
  font-weight: normal;
  size: 10em;
  color: #577d86;
  margin-bottom: 20px; /* Espacio debajo del título */
}
.container-receta button{
  top: 152px;
  color: #FFF5E7;
  left: 1251px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  background: #547A80;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35.12px;
  text-align: center;
  font-weight: normal;
  border:0px;
  width: 12%;
}
.container-receta1 button{
  top: 152px;
  color: #FFF5E7;
  left: 1251px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  background: #547A80;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35.12px;
  text-align: center;
  font-weight: normal;
  border:0px;
  width: 12%;
}
.container-receta button:hover{
  background-color: #507f9d;
}
.container-receta1 button:hover{
  background-color: #507f9d;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
/* Estilos de inicio de receta y inputs */

.form1 {
  display:flex;
  justify-content: row;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.image-label span {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: left;
  font-weight: normal;
}

.image-container {
  flex-wrap: wrap;
  justify-content: left;
}

.image-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  width: 300px;
  height: 150px;
  justify-content:center;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  background-color: #FFF5E7;
  border: 5px solid rgba(84, 122, 128, 1)
}
.input-container {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  font-size: 16px;
  color: #FFF5E7;
  margin-bottom: 5px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 2px solid #688d8b;
  background-color: #FFF5E7;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #456;
}
label input{
  text-align: left;
}
.form-fields {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-left: 0%;
  margin-right: 22%;
}
.form-fields input{
  background-color: #FFF5E7;
}
.form-fields1 label{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-left: 22%;
  margin-right: 22%;
}

.form-fields .form {
  margin-left:20px;  /* Ajusta este valor según sea necesario para acercar los inputs al recuadro de la imagen */

}

.form input[type="text"] {
  width: 300%;  /* Ajusta el ancho al 100% del contenedor */
  max-width: 400px;  /* Máximo ancho deseado, puedes ajustar este valor según necesites */
  padding: 10px;
  font-size: 16px;
  color: #333;
  text-align: left;
  border: none;
  border-bottom: 2px solid #688d8b;
  background-color: #FFF5E7;
  margin-bottom: 20px;
  margin-right: 50px;
}

.form input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #456;
}

.form-group textarea {
  padding: 20px;
  font-size: 1rem;
  justify-content: space-between;
  background-color: #FFF5E7;
  resize: none;
  height: 150px;
  width: 300px;
  top: 1600px;
  left: 62px;
  gap: 0px;
  border-radius: 8px;
  border: 5px solid rgba(84, 122, 128, 1)
}
.form-group1 textarea {
  padding: 20px;
  font-size: 1rem;
  justify-content: space-between;
  background-color: #FFF5E7;
  resize: none;
  height: 150px;
  width: 300px;
  top: 1600px;
  left: 62px;
  gap: 0px;
  border-radius: 8px;
  border: 5px solid rgba(84, 122, 128, 1);
  outline: none;
}

.form-steps textarea {
  padding: 20px;
  font-size: 1rem;
  justify-content: space-between;
  background-color: #FFF5E7;
  resize: none;
  height: 150px;
  width: 300px;
  top: 1600px;
  left: 62px;
  gap: 0px;
  border-radius: 8px;
  border: 5px solid rgba(84, 122, 128, 1);
  outline: none;
}
.button-group {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-weight: normal;
}

.button-group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 120px;
  height: 60px;
  font-weight: normal;
}
.button-group1 .submit-button1{
  margin-right: 210%;

}
.button-group1 .submit-button2{
  margin-right: 153%;

}

button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35.12px;
  justify-content: space-between;
  font-weight: normal;
  width: 122px;
}

button[type="submit"] {
  background: #547A80;
  color: #FFF5E7;
  margin: auto;
}

button[type="button"] {
  background: #805854;
  color: #FFF5E7;
  margin: 0px;
}

button[type="button"]:hover {
  background-color: #507f9d;
}
button[type="submit"]:hover {
  background-color: #507f9d;
}


/* Contenedor de restaurantes */
.no-restaurants-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido en el contenedor principal */
  padding: 10px;
}

/* Contenido de no restaurantes */
.no-restaurants-content {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.restaurants-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.hori {
  display: flex;
  flex-direction: row; /* Alinea los elementos hijos en fila */
  gap: 20px; /* Espacio entre los botones */
}

.hori .actu1 {
  margin: 0; /* Elimina márgenes adicionales */
  width: 120px;
  height: 60px;
  font-weight: normal;
}

.restaurant-card {
  background-color: #FFF5E7;
  border: 1px solid #efe4cf;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block; /* Asegura que la imagen no esté flotando */
}

.restaurant-name {
  font-size: 1.2em;
  color: #395B64;
  font-family: 'Pacifico', cursive;
  margin: 0;
}

.restaurant-name a {
  color: #395B64;
  text-decoration: none;
  font-weight: normal; /* Asegúrate de que no esté en negrita */
  font-size: 20px;
}

.restaurant-name a:hover {
  text-decoration: none;
}

/* Imagen de home y estilos */
.home {
  width: 100%;
  max-width: 300px; /* Ajusta este valor según tus necesidades */
  height: auto;
  border-radius: 8px; /* Opcional: para bordes redondeados */
  margin-right: 15px; /* Espacio entre la imagen y el texto */
  margin-left: 200px;
  opacity: 0.7;
}

/* Texto de restaurantes */
.no-restaurants-content p {
  color: #616161; /* Color del texto */
  margin: 0;
  font-family: Pacifico, cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}


/* Estilos para los párrafos */
p {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  color: #555;
  margin: 5px 0;
  text-align: center;
  padding: 5px;
  font-weight: normal;
}

/* Estilos para los enlaces */
a {
  color: #1e88e5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para los formularios de receta */


/* Contenedor de restaurantes */
.no-restaurants-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido en el contenedor principal */
  padding: 10px;
}

/* estilo crear sucursal*/
.create-button {
  background-color: #547A80;
  color: #FFF5E7;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35.12px;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #507f9d;
}

.button-icon {
  display: none;
  font-size: 24px;
}
.restaurant-form {
  font-family: 'Arial', cursive;
  background-color: #FFF5E7;
  padding: 15px;
  border: 0;
  border-radius: 8px;
  margin: 10px 0;
  max-width: 400px;
  width: 80%;

}

.restaurant-form h2 {
  font-family: Pacifico;
  font-weight: normal;
  font-weight: 400;
  line-height: 112.38px;
  text-align: left;
  font-size: 1.8rem;
  color: #395B64;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}


.form-button {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 90px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
input .submit-button{
  width: 50px;
}

.submit-button:hover {
  background-color: #507f9d;
  border-color: #507f9d;
}

.cancel-button {
  background-color: #f44336; /* Rojo */
  color: white;
  border-color: #f44336;
}

.cancel-button:hover {
  background-color: #e53935; /* Rojo más oscuro */
  border-color: #e53935;
}
/* estilo crear sucursal fin */

/* estilo actualizar sucursal*/
.form-group {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
.form-steps{
  position: relative;
  margin-bottom: 20px;
  justify-content: space-between;
}
.form-steps label {
  padding: 0;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 23.44px;
  color: #4c4c4c;
  text-align: left;
  display: block;
  font-weight: normal;
  background-color: #FFF5E7;
}
.form-group label {
  padding: 0;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 23.44px;
  color: #4c4c4c;
  text-align: left;
  font-weight: normal;
  background-color: #FFF5E7;
}
.form-group1 label {
  padding: 0;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 23.44px;
  color: #4c4c4c;
  text-align: left;
  font-weight: normal;
  display: block;
  background-color: #efe4cf;
}

label{
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 23.44px;
  color: #4c4c4c;
  text-align: left;
  font-weight: normal;
  background-color: #FFF5E7;
}
.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #547A80;
  border-radius: 8px;
}

.form-group input[type="file"] {
  display: block;
  margin-top: 10px;
}

.button-group2 {
  display: flex;
  gap: 10px;
}
.textarea-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
  align-items: flex-start;
  max-width: 100%;
  outline: none;
}

/* Estilos generales para los textarea */
textarea {
  width: 45%;
  height: 150px;
  border: 2px solid #4c4c4c;
  border-radius: 8px;
  padding: 10px;
  background-color: #FFF5E7;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #4c4c4c;
  justify-content: space-between;
  resize: none;
  outline: none;
}

/* Encabezado del formulario */
h3 {
  text-align: center;
  font-family: 'Cursive', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Estilo para mensajes de error */
.error-message {
  font-weight: normal;
  color: #b24c4c;
  font-size: 0.875rem;
}
/* pasos para la ubicacion */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacio entre las tarjetas */
  justify-content: center;
  margin: 2rem 0;
}
.card {
  background: #547A80; /* Color de fondo de la tarjeta */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(228, 6, 6, 0.1);
  width: 250px; /* Tamaño ajustado de las tarjetas */
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px; /* Tamaño ajustado de la imagen */
  object-fit: cover;
}

.card p {
  padding: 0.5rem; /* Ajuste del relleno */
  margin: 0;
  color: #fff; /* Color de texto blanco */
  font-size: 0.9rem; /* Tamaño de fuente ajustado */
}
.footer {
  text-align: center;
  padding: 5px 0;
  background: #54797F;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
}

.footer p {
  margin: 0;
  color: #FFF5E7;

}

@media (max-width: 767px) {
  .footer {
    font-size: 11px; /* Tamaño de fuente para pantallas pequeñas */
    padding: 8px 0; /* Padding para pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .details-text {
    display: none;
  }

  .details-icon {
    display: inline-block;
  }

  .details-btn {
    padding: 5px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .likes-text {
    display: none;
  }

  .likes-icon {
    display: inline-block;
    margin-left: 5px;
    color: #7B8C8F;
  }

  .likes {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .create-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  .button-text {
    display: none;
  }

  .button-icon {
    display: inline-block;
    margin-bottom: 10px;
  }
}
