<div class="container">
  <h2>Mis Recetas</h2>
  <div *ngIf="recipes.length === 0">
    <p>No tienes recetas aún.</p>
  </div>
  <div *ngIf="recipes.length > 0">
    <ul>
      <li *ngFor="let recipe of recipes">
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
        <p><strong>Ingredientes:</strong></p>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
        </ul>
        <p><strong>Instrucciones:</strong></p>
        <p>{{ recipe.steps }}</p>
        <img *ngIf="recipe.image" [src]="'http://localhost:3000' + recipe.image" alt="{{ recipe.title }}" class="recipe-image">
      </li>
    </ul>
  </div>
</div>
