/* Estilos para el contenedor principal */
.container-fondo {
  background-color: #FFF5E1;
}

.container {
  max-width: 1300px; /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: 900px;
  max-height: 300px; /* Ajusta este valor según sea necesario */
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: 'Pacifico', cursive;
}

/* Estilos para el título */
h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #395B64;
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
  padding-left: 35px;
}

/* Estilos para la barra de búsqueda */
.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.search-input {
  width: calc(100% - 50px); /* Ajustar el ancho para dejar espacio al botón */
  padding: 10px 20px;
  font-size: 1.1em;
  border: 2px solid #395B64;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  outline: none;
}

.search-button {
  background-color: #395B64;
  color: #ffe1ef;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 0 20px 20px 0;
}

.search-button:hover {
  background-color: #1b5e20;
}

.search-icon {
  font-size: 1.9em;
  color: #FFF5E1;
  font-variant: normal;
}

/* Estilos para la lista de recetas */
ul {
  text-align: left;
  gap: 20px; /* Espacio entre las imágenes */
  list-style: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto; /* Ajusta el margen superior e inferior */
  max-width: 1300px; /* Ajusta el ancho máximo del contenedor */
  justify-content: center; /* Centra las imágenes horizontalmente */
}

/* Estilos para cada receta */
li {
  padding: 0;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  text-align: left;
  border-radius: 10px; /* Mantiene los bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente solo hacia abajo */
}

/* Estilos para el título de la receta */
h3 {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: #395B64;
  margin: 10px 0;
  text-align: left;
  font-weight: normal;
  align-self: flex-start;
  margin-left: 15px;
}
b{
  margin-right: 130px;
}

/* Estilos para los párrafos */
p {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  color: #555;
  margin: 5px 0;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  align-self: flex-start;
  font-weight: normal;
}
/* Estilos para el botón de Ver detalles */
.details-button {
  background-color: #395B64;
  color: #FFF5E1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  padding: 5px;
}

.details-button:hover {
  background-color: #1b5e20;
}

/* Estilos para la imagen de la receta */
.recipe-image {
  width: 280px; /* Aumenta el ancho de la imagen */
  height: 180px; /* Aumenta el alto de la imagen */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Estilos para el contenedor del botón y los likes */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px; /* Alineado con el ancho de la imagen */
  padding: 0 10px;
}

.like-button {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer;
}

.like-button i {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

button:hover {
  background-color: #1b5e20;
}

/* Estilos para los enlaces */
a {
  color: #1e88e5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-align: left;
}

/* Media Queries para diferentes dispositivos */
@media (max-width: 768px) {
  h2 {
    font-size: 2em;
    text-align: center;
  }

  .search-container {
    width: 80%;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .search-container {
    width: 100%;
  }

  .search-input {
    font-size: 1em;
  }

  .search-button {
    width: 40px;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  .details-button {
    font-size: 0.7em;
    padding: 5px 8px;
  }

  ul {
    grid-template-columns: 1fr;
  }
}