<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="image-container">
  <img src="../../../assets/collageComida.jpg" alt="comida">
  <div class="overlay-text">"Encuentra, comparte y saborea"</div>
</div>
<div class="container-fondo">
  <div class="container">
    <br>
    <div class="search-container">
      <input type="text" placeholder="Buscas algo en especial" (input)="onSearch($event)" class="search-input">
      <button class="search-button">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </button>
    </div>
    <div *ngIf="filteredRecipes.length === 0">
      <p>No hay recetas disponibles.</p>
    </div>
    <h2>Recetas</h2>
    <div *ngIf="filteredRecipes.length > 0" >
      <ul>
        <li *ngFor="let recipe of filteredRecipes">
          <img *ngIf="recipe.image" [src]="recipe.image" alt="{{ recipe.title }}" class="recipe-image">
          <h3>{{ recipe.title }}</h3>
          <b>Hecho por:
            <a [routerLink]="['/user-profile-view', recipe.author._id]" [attr.data-username]="recipe.author.username">{{ recipe.author.username }}</a>
          </b>
          <div class="button-container">
            <p class="like-button">
              <i class="fa-solid fa-heart" style="color: #FF6B6B;"></i>
              <span class="likes-count">{{ recipe.likesCount }}</span>
              <span class="likes-text">personas</span>
            </p>
            <button class="details-button" (click)="viewRecipe(recipe._id)">
              <span class="button-text">Ver Detalles</span>
              <i class="fa-solid fa-eye button-icon"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <footer class="footer">
    <p>© 2024 easyMenu. Todos los derechos reservados.</p>
  </footer>
</div>
