<div class="container">
  <h2>Perfil de {{ username }}</h2>
  <h3>Recetas de {{ username }}</h3>
  <div *ngIf="recipes.length === 0">
    <p>Este usuario no tiene recetas aún.</p>
  </div>
  <div *ngIf="recipes.length > 0">
    <ul>
      <li *ngFor="let recipe of recipes">
        <h3>{{ recipe.title }}</h3>
        <p>Likes: {{ recipe.likesCount }}</p>
        <img *ngIf="recipe.image" [src]="'http://localhost:3000' + recipe.image" alt="{{ recipe.title }}" class="recipe-image">
        <button (click)="viewRecipe(recipe._id)">Ver Detalles</button>
      </li>
    </ul>
  </div>

  <h3>{{ restaurants.length === 1 ? 'Restaurante de ' : 'Restaurantes de ' }}{{ username }}</h3>
  <div *ngIf="restaurants.length === 0">
    <p>Este usuario no tiene restaurantes aún.</p>
  </div>
  <div *ngIf="restaurants.length > 0">
    <ul>
      <li *ngFor="let restaurant of restaurants">
        <h3><a [href]="restaurant.locationUrl" target="_blank">{{ restaurant.name }}</a></h3>
      </li>
    </ul>
  </div>
</div>
