/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Puedes cambiar esto a la fuente que prefieras */
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}
